.product-detail{
    display:flex;
    flex-direction:row;
    
    
}
.product-img-container{
   margin-right:24px;
   
}
.product-img-container img{
    border-radius:12px;
    max-width:450px;
    max-height:350px;

}
.product-gallery{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin: 24px 18px;
    
}
.product-img-gallery{
    max-width:105px;
    border-radius: 5px;
    height: 120px;
    object-fit: cover;
    cursor:pointer;

}
.product-detail-container{

}

.product-detail-container h3{
    margin-top:0;
    font-size:32px;
    font-weight:700;
    font-family: Saira,sans-serif;
    margin-bottom:0;

}
.product-detail-container p{
   font-size: 16px;
   font-weight: 400;
   color:#696969 ;
   font-family: Inter,sans-serif;
   margin-top: 0;
}
.product-detail-container h4{
    margin-top:0;
    font-size:24px;
    font-weight:400;
    font-family: Saira,sans-serif;
    margin-bottom:0;
    color:#1f2230;

}
.product-detail-container span{

    font-weight: 700;

}
.product-detail-bid-container{
    box-shadow: 5px 2px 30px rgba(0,0,0,6%);
    border-radius: 10px;
    background-color: #ffff;
    padding: 24px;
}
.product-detail-bid-title{


}
.product-detail-bid-title h5{
    font-size: 22px;
    font-weight: 600;
    color:#1f2230;
    margin:0px;

}
.product-detail-bid-title p{
    font-size: 16px;
    font-weight: 500;
    color: #696969;
    font-family: Inter,sans-serif;
    position: relative;

}
.product-detail-bid-form{
    display: flex;
    justify-content:center;
    align-items: center;
    height:40px;
}
.product-detail-bid-form input{
    height: 100%;
    width: 100%;
    border-radius:5px;
    padding: 11px 15px;
    border: 1px solid #eeee;
}
.product-detail-bid-form input[type="text"]{
    border: 1px solid greenyellow;  
    transition: all .42s ease;
}
.product-detail-bid-form button{

    outline:none;
    border:none;
    margin-left:6px;
    padding: 10px 12px;
    font-size: 18px;
    font-weight: 400;
    font-family: Saira,sans-serif;
    cursor: pointer;
    min-width: 120px;
    border-radius: 5px;
    background-color: #32c36c;
    color: #ffff;
}

.product-detail-body{
   
}
.product-body-header{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}
.product-body-header-btn{
    min-width:150px;
    min-height:64px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 20px;
    margin-left:24px;
    margin-top: 32px;
    border-radius: 5px;
}
.product-body-header-btn-selected{
    min-width:150px;
    min-height:64px;
    background-color:#32c36c;
    text-align: center;
    padding-top: 20px;
    margin-left:24px;
    margin-top: 32px;
    border-radius: 5px;
}
.product-body-description-header{
    font-size: 24px;
    font-weight: 600;
    font-family: Saira,sans-serif;
    color: #1f2230;
    margin-top: 18px;
}
.product-body-description-body{
    font-size: 16px;
    font-weight: 400;
    color: #696969;
    font-family: Inter,sans-serif;
    line-height: 28px;
}
.product-body-description-body li{
    font-size: 18px;
    font-weight: 500;
    font-family: Saira,sans-serif;
    color: #696969;
    line-height: 1.5;
}
.biding-history-container{
    margin-top: 18px;
    display:block;  
}